.google_maps_container {
  max-width: 600px;
  overflow: hidden;
  padding-top: 50%;
  position: relative;
}

.google_maps_iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
