---
---

@import "{{ site.theme }}";

/*********************************************
 Fix dodgy (?) subscript/superscript handling.
 *********************************************/

sub {
    vertical-align: sub
	}

sup {
    vertical-align: super
	}

/******************************
 Override 640 px content width.
 ******************************/

.inner {
    max-width: 800px;
    }

/**************
 Navigation bar
 **************/

#navbar_wrap {
    background: #f2f2f2
    }

#navbar {
    background: #212121
    }
